.container{
  padding: 5px;
  background-color: #32a852; 
  color: white;
}

.title{
  color:white !important;
}

.searchInput{
  height: 2.6rem;
}

.icon{
  font-size: 1.5rem;
  cursor: pointer;
}



@media only screen and (max-width:575px) {
  .mobileHide {
    display: none;
  }

  .mobileShow {
    display: block !important;
  }
}

@media only screen and (min-width:575px) {

  .mobileShow {
    display: none;
  }
}